.campus-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

#campus-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

#campus-name:hover {
    border-bottom: 2px solid rgb(65, 220, 201);
    font-weight: 550;
    color: rgb(63, 62, 62);
    transition: all 0s ease-in-out .25s;
}

#add-campus-btn {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

#add-campus-btn:hover {
    font-weight: 500;
    color: rgb(65, 220, 201);
    transition: all 0s ease-in-out .25s;
}

.campus-child-card {
    width: 30%px;
    height: 300px;
    border-radius: 10px;
}

.card-text {
    text-align: center;
    color: antiquewhite;
    text-shadow: 1px 1px 2px black;
}
