.campus-detail-container {
    margin-top: 10%;
    padding-top: 2%;
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.campus-detail-info {
    color: rgb(88, 84, 84);
}

.campus-name-detail {
    margin-bottom: 5px;
    font-size: 40px;
}

.campus-location-detail {
    margin-top: 5px;
}

.campus-tuition-detail {
    font-size: 25px;
}

.description-label-detail {
    font-size: 30px;
    color: rgb(88, 84, 84);
}

.campus-description-detail {
    width: 95%;
    color: rgb(88, 84, 84);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.detail-buttons {
    display: flex;
    justify-content: space-between;
}

.detail-btn {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: white;
    border: 1px solid rgb(49, 47, 47);
    border-radius: 7px;
}

.detail-btn:hover {
    border: 1px solid rgb(65, 220, 201);
    transition: all 0.25s ease-in 0s;
}

#edit-detail-btn {
    margin-left: 65%;
}
