.detail-image-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.image-one-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#first-image {
    height: 500px;
    width: 800px;
    border-radius: 10px;
}

#second-image {
    margin-bottom: 5px;
    height: 235px;
    width: 350px;
    border-radius: 10px;
}

#third-image {
    margin-top: 5px;
    height: 235px;
    width: 350px;
    border-radius: 10px;
}
